body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}
.header {
    padding-top: 15px;
    height: 70px;
    box-shadow: 0 0.4em 5px rgba(122,122,122,0.5);
}
.container {
    padding: 0 10% 0 10%;
}
.header-logo {
    float: left;
}
.header-logo img{
    height: 60px;
}
.promo {
    margin-left: 10px;
    max-width: 200px;
    float: left;
}
.promo span {
    font-size: 1.9em;
}
.promo p {
    margin:0;
    font-size: 0.9em;
    color: #1968c4;
    font-weight: bold;
    width: 170px;
}
.main-nav {
	margin: 2px 0 3px 40%;
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
	list-style: none;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-nav li {
    float: left;
    text-transform: uppercase;
}
.main-nav li:last-child {
    margin-right: 0;
}
.main-nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: #1968c4;
    transition: 0.3s;
}
.main-nav a:hover {
    color: #1968c4;
    text-shadow: #cad5e2 1px 1px 0, #cad5e2 2px 2px 0, 
                 #cad5e2 3px 3px 0, #cad5e2 4px 4px 0, 
                 #cad5e2 5px 5px 0;
}
.main-nav a:active {
    color: #1968c4;
    opacity: 0.3;
}